@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
#spotify-container {
  background: linear-gradient(45deg, #8c1932, #ff6437 60%);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 10rem;
  border-top-left-radius: 2rem;
  border: solid #fff 0.2rem;
  border-style: solid none none solid;
  /*filter: drop-shadow(4px 4px 10px #000);*/
  z-index: 110000 !important;
}
#album-button,
.button-size,
#album-ok {
  width: 100%;
  border-radius: 2rem;
  height: fit-content;
  padding: 0.6rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600 !important;
  border: none !important;
}
#album-button:hover,
#album-ok:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 4px);
}
#add-album {
  display: inline-block;
  text-align: center;
}
#add-album > * {
  max-width: 50%;
}
#album-ok {
  width: fit-content !important;
  background: rgb(130, 180, 226);
  color: white;
  border: none !important;
}
#album-ok:hover {
  background: rgb(86, 158, 224);
}
#album-input {
  border: black solid 2px !important;
}
button#change-link {
  top: 10px;
  right: 10px;
  position: absolute;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  /*filter: drop-shadow(0 0 4px black);*/
  background: rgb(86, 158, 224);
  color: white;
  font-size: 1.5rem;
  line-height: 1rem;
  vertical-align: 50%;
  cursor: pointer;
  border: none !important;
}
button {
  cursor: pointer;
}
#spotify-player {
  border-top-left-radius: 1.8rem;
  width: 100%;
  height: 100%;
}
#player-minimize {
  position: absolute;
  bottom: 10rem;
  right: 10rem;
  background: white;
  z-index: 110000;
  padding: 0.5rem;
  transform: translateX(50%);
  border-radius: 2rem 2rem 0rem 0rem;
  cursor: pointer;
  height: 0.5rem;
  text-align: center;
  font-size: 3rem;
  width: 1.1rem;
  min-width: 45px;
  min-height: 35px;
  transition: background-position-y 0.5s ease-in-out,
    line-height 0.5s ease-in-out;
  background-position-y: 35px;
  background-repeat: no-repeat;
  line-height: 3rem !important;
}
#player-minimize.minus {
  line-height: 0.2rem !important;
}
#album-input {
  text-align: center;
}
iframe {
  user-select: none;
}

#spotify-playlist {
  filter: drop-shadow(0 0 6px black) !important;
  position: fixed;
  bottom: 0px;
  right: 0px;
  transform: none;
  transition: transform 0.35s ease-in-out;
  z-index: 120000;
}
#player-minimize.plus {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  /*line-height: 0.7rem !important;*/
  color: transparent;
  background-image: url(https://sander.vonk.productions/spotify-playlist/img/spotify.png);
  background-size: contain;
  background-color: white;
  background-position-y: 0px;
}
#spotify-playlist.minimized {
  transform: translateY(10rem);
}
#spotify-playlist * {
  box-sizing: border-box !important;
}
#add-album {
  position: absolute !important;
  bottom: 25%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
}
.background-filter {
  filter: contrast(0.5) saturate(0);
}
#spotify-container {
  min-width: 400px !important;
  min-height: 200px !important;
}
#player-minimize {
  position: absolute !important;
  height: 11rem !important;
  bottom: 0px !important;
  min-height: 235px !important;
}
#add-album {
  font-size: 120% !important;
}

@media (hover: none), (max-width: 768px), (max-device-width: 768px) {
  #spotify-playlist {
    width: 100% !important;
    z-index: 999999999 !important;
  }
  #spotify-playlist.minimized {
    transform: translateY(40vh);
  }
  #spotify-playlist > * {
    z-index: 999999999 !important;
  }
  iframe {
    z-index: 0;
  }
  #player-minimize {
    background-position-y: 6vh !important;
  }
  #player-minimize.plus {
    background-position-y: 0.5vh !important;
  }
  #player-minimize {
    right: 50% !important;
    bottom: 40vh !important;
    padding: 5% !important;
    text-align: center !important;
    font-size: 10vh !important;
    width: fit-content !important;
    line-height: 20vh !important;
    min-height: 7vh !important;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    width: 9vh !important;
    background-size: 90% !important;
    background-position-x: center;
    user-select: none;
  }
  #player-minimize.minus {
    line-height: 1vh !important;
    font-size: 10vh !important;
    font-weight: 400 !important;
  }
  #spotify-container {
    width: 100% !important;
    height: 40vh;
    border-left: none;
    border-top-left-radius: 0px !important;
    border-top-width: 0.5vh;
    z-index: 999999999;
    min-width: unset !important;
  }
  #spotify-player {
    border-top-left-radius: 0rem;
    /*
    width: 75%;
    height: 75%;
    transform: scale(1.34);
    transform-origin: top left;
    */
  }
  #album-button {
    font-size: 3vh;
    max-width: 75%;
    border-radius: 10rem;
    padding: 2vh;
  }
  #album-input,
  #album-ok,
  #change-link {
    font-size: 4vw;
    max-width: 75%;
    border-radius: 20rem !important;
    padding: 5vw;
  }
  /*might comment the below later*/
  button#album-ok {
    width: 75% !important;
    margin-top: 1vh;
  }
  /*end of what i would comment*/
  #album-ok,
  #change-link {
    width: 10vw !important;
    height: 10vw !important;
    background: rgb(86, 158, 224);
    z-index: 1;
    line-height: 2vh !important;
  }
  button#change-link {
    font-size: 8vw !important;
    top: 1rem;
    right: 1rem;
  }
}
